.bg-veintidos{
    background-color: #222B58;
}

.border-veintidos{
    border-top: 0.2px solid  #222B58;
}

.link-veintidos{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #666666;
    text-decoration:    none;
}

.link-veintidos-active{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #222B58;
    text-decoration:    none;
    display: inline-block;
}

.overflow-admin{
    overflow: auto;
    overflow-inline: scroll;
    max-height: 53px;
    display: flex;
    flex-wrap: nowrap !important;
}

@media only screen and (max-width: 600px){
    .overflow-admin{
        margin: 0px 5px !important;;
    }
}