html,body{
    margin: 0;
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

footer{
    width: 100%;
    min-height: 262px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    /* position: absolute;
    bottom: 0; */
    margin-top: auto;
}

.container-body{
    box-sizing: border-box;
    background: linear-gradient(180deg, #EAEAEA 0%, rgba(234, 234, 234, 0) 100%);
    padding-top: 28px;
    padding: 28px 32px 0px 32px;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.container-footer{
    box-sizing: border-box;
    height: 45px;
    background-color: #222B58;
    padding: 1px 33px 1px 33px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-footer p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    color: #FFFFFF;
    margin-right: 30px;

    display: flex;
    align-items: center;

    margin-bottom: 0px !important;
}

.column1{
    width: 40%;
    height: 180px;
    text-align: left;
    justify-content: left;
}
.column1 img{
    width: 118.72px;
    height: 45.52px;
}

.column1 h1{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0rem;
    color: #222222;
    margin-top: 10px !important;

}

.column1 .linea_c1{
    border-top: 0.2px solid #696969;
    width: 353px;
    max-width: 80% !important;
    margin-bottom: 11px;
}

.column1 .slogan{
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    
    color: #222222;

}

.column2{
    width: 19%;
    height: 180px;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.container-body h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #222222;
}

.enlace-footer{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    text-decoration: none;
    width: 100%;
}

.column3{
    width: 19%;
    height: 180px;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.column4{
    box-sizing: border-box;
    width: 21%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 55px;
    text-align: left;
    justify-content: left;
    padding-top: 28px;
}

.column4 img{
    width: 25px;
    height: 25px;
    margin-right: 25px;
    margin-bottom: 42px;
}

/* lo de arriba es del footer */


.container{
    width: 100%;
}

.header{
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    font-variant: small-caps;

    color: #222B58;
}

.header.dark{
    background-color: #222B58;
    color: #FFFFFF !important;
}

.header.dark .logo.blanco{
    display: block;
}

.header.dark .logo.azul{
    display: none;
}

.header .logo.blanco{
    display: none;
}

.header.dark .container .navigation ul li a{
    color: #FFFFFF;
}

.header .container .navigation a{
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 2px 40px 2px 10px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100% !important;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1.8rem;
    transition: all 0.2s linear;
}

.navigation ul li a:hover{
    font-weight: 400;
}

.header .logo img{
    width: 148.4px;
    height: 56.9px;
}

/* .main{
    padding-top:70px; 
} */

.menu-icon{
    display: none;
}

@media only screen and (max-width: 768px){
    .header.dark .navigation{
        width: 100%;
        margin-top: 1rem;
        background-color: #ffffff;
        margin: 0;
        margin-left: 0;
        padding: 0;
        left: -10px;
    }

    .header .navigation{
        width: 100%;
        margin-top: 1rem;
        background-color: #222B58;
        margin: 0;
        margin-left: 0;
        padding: 0;
        left: -10px;
    }

    .header.dark .menu-icon.blanco{
        display: block;
        cursor: pointer;
        margin: auto;
        margin-right: 5%;
        padding: 0 0;
        height: 40px;
    }

    .header .menu-icon.azul{
        display: block;
        cursor: pointer;
        margin: auto;
        margin-right: 5%;
        padding: 0 0;
        height: 40px;
    }

    .menu-icon img{
        width: 40px;
        height: 40px;
    }

    .logo-nav-container{
        padding:0;
    }

    .header .logo img{
        margin: 2px 0px 2px 10px;
    }

    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .header .navigation ul li a{
        display: block;
        padding: 0.5rem 1.8rem;
        font-size: 16px;
        line-height: 20px;
        color: white;
    }

    .header.dark .navigation ul li a{
        display: block;
        padding: 0.5rem 1.8rem;
        font-size: 16px;
        line-height: 20px;
        color: #222B58 !important;
    }
    
    .navigation ul li a:hover{
        font-weight: 600;
    }
}

@media only screen and (max-width: 768px){
    .column1,.column2,.column3,.column4{
        width: 80%;
        justify-content: center !important;
        padding: 0;
        text-align: center;
    }

    /* footer{
        position: relative;
    } */

    .enlace-footer{
        text-align: center;
    }

    .container-footer p{
        margin-right: 0;
        font-size: 10px;
    }

    .container-footer p img{
        width: 10px;
        height: 10px;
    }

    .container-body{
        justify-content: center;
    }

    .container-footer{
        display: felx;
        justify-content: space-between;
        align-items: center;
    }

    .column1 .linea_c1{
        margin: 0 auto 11px auto;
    }

    .column4{
        justify-content: center !important;
        margin-top: 10px;
    }

    .column4 img{
        margin-left: 2vw !important;
        margin-right: 2vw !important;
    }
}

@media only screen and (max-width: 1050px){
    .header{
        font-size: 16px;
        line-height: 20px;
    }
    .navigation ul li a{
        padding: 0.5rem 1.4rem;
    }
}

@media only screen and (max-width: 900px){
    .header{
        font-size: 14px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 1197px){
    .container-body h4{
        font-size: 14px;
        line-height: 17px;
    }
    .enlace-footer{
        font-size: 14px;
        line-height: 17px;
    }
}

@media only screen and (max-width: 1092px){
    .column4 img{
        margin: auto;
    }

    .column4{
        display: flex;
        justify-content: space-around;
    }
}

/* Aqui empieza lo de la barra de busqueda */
.barra-busqueda{
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    width: 100%;
    min-height: 58px;
    background-color: #F8F8F8;
    z-index: 999;
    border-bottom: 0.1px solid #222b589d;
    display: flex;
    flex-wrap: wrap;
}

.header{
    z-index: 999;
}

.search-50{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.search-50.left{
    padding-right: 20%;
    padding-left: 29px;
    justify-content: space-between;
}

.options-search{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    height: 27px;
    color: #222222;
    background-color: transparent;

    border: 0.2px solid #222b589d;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
}

.search-50.left select{
    width: 134px;
}


.cuadro-busqueda{
    width: 80%;
}

.search-button{
    width: 19px;
    height: 19px;
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.search-50.right{
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .search-50.left select{
        width: auto !important;
    }
    .search-50.left{
        padding-right: 10px;
        padding-left: 10px;
    }
    .barra-busqueda{
        padding: 10px 0;
    }  
}

@media only screen and (max-width: 1500px){
    .search-50.left{
        padding-right: 15%;
        padding-left: 25px;
    } 
}

@media only screen and (max-width: 1285px){
    .search-50.left{
        padding-right: 10%;
        padding-left: 20px;
    } 
}

@media only screen and (max-width: 1120px){
    .search-50.left{
        padding-right: 5%;
        padding-left: 15px;
    } 
}

@media only screen and (max-width: 930px){
    .search-50.left{
        padding-right: 10px;
        padding-left: 10px;
    } 
    .search-50.left select{
        width: 100px;
    }
}

@media only screen and (max-width: 550px){
    .search-50.left{
        padding-right: 6px;
        padding-left: 6px;
        justify-content: space-between !important;
    } 
    .search-50.left select{
        width: 100px !important;
        text-indent: 25px;
    }
    .search-50.left button{
        width: 100px;
        margin-top: 7px;
    }

}

@media only screen and (max-width: 440px){
    .search-50.left{
        padding-right: 5px;
        padding-left: 5px;
        justify-content: space-between !important;
    } 
    .search-50.left select{
        width: 70px !important;
        text-indent: 12px;
        font-size: 12px;
    }
    .search-50.left button{
        width: 70px !important;
        margin-top: 7px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 359px){
    .container-footer{
        padding: 5px 15px !important;
        margin-top: 5px !important;
        height: 35px !important;
    }
}

@media only screen and (max-width: 317px){
    .container-footer{
        padding: 5px 8px !important;
        margin-top: 5px !important;
        height: 30px !important;
    }
    .container-footer p{
        height: 10px;
        line-height: 10px;
        font-size: 9px;
    }
}