.container_sideBar{
    width: 100%;
    min-height: 1250px;
    background-color: #F8F8F8;
    display: flex;
    margin-top:70px;
}
.sideBar_left{
    position: absolute;
    width: 271px;
    padding-top: 92px;
    left:-271px;
    transition: ease-in 0.3s all;
}
.sideBar_left.show{
    position: absolute;
    width: 271px;
    padding-top: 92px;
    left:0px;
}
.sideBar_menu{
    display: flex;
    width: 242px;
    min-height: 950px; /*original 1087*/
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-top-right-radius: 0px;
    margin-left: auto;
    margin-right: 0px;
    flex-wrap: wrap;
}
.sideBar_title{
    width: 211px;
    height: 31px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    border-bottom: 0.2px solid #000000;
}
.sideBar_li{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #222B58;
    margin-left: 26px;
    margin-bottom: 50px;
    min-width: 51%;
    height: 25px;
    text-decoration: none;
    transition: ease-in 0.1s all;
    display: flex;
    align-items: center;
}
.sideBar_li:hover{
    font-weight: 500;
}
.sideBar_li_image{
    width: 23px;
    height: 23px;
    margin-right: 6px;
    margin-top:-10px;
}
.sideBar_li_num{
    font-size: 14px;
    margin-top: 2px;
}
.sideBar_logo{
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.sideBar_textA{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 183px;
    color: #222B58;
    margin-left: auto;
    margin-right: auto;
}

.sideBar_link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    width: 60%;
    color: #222B58;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;/*original ni había*/
    margin-bottom: 29;
}
.sideBar_textB{
    margin-top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 100%;
    color: #222222;
    margin-bottom: 29px;
}
.sideBar_button{
    position: relative;
    left: 271px;
    top:  -863px; /*original 1000px*/
    width: 35px;
    height: 75px;
    background-color: #222B58;
    border: none;
    border-radius:0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
}
.sideBar_button:hover{
    cursor: pointer;
}
.sideBar_button img{
    width: 13px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top:4px;
}
.sideBar_right{
    width: 100%;
}